.tag__filter {
    display: flex;
    flex-direction: column;
    margin: 15px 0px 30px 0px;
    z-index: 10;
    position: relative;
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &--ingredients {
        @include tag-filter-items;        
    }
    &--header {
        @include tag-filter-header;
        .filter__ingredients {
            @include tag-filter-title;
        }
        .filter__ingredients--input {
            @include tag-filter-input;
        }
        .filter__ingredients--chevron {
            @include tag-filter-chevron;
        }
    }
    .filter__ingredients--list {
        @include display-taglist;
        .itemsList {
            @include items-list;
        }
    }
};
