.tag__parking {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px;
    &--items {
        width: 150px;
        //display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin-left: 0;
        margin-right: 0;
        color: white;
        @include border-rad;
        //background-color: beige;
        span {
            justify-self: flex-start;
            align-self: center;
            font-size: 20px;
            padding: 10px;
            margin-left: 0;
            margin-right: 0;
        }
        .circleCrossBtn {
            font-size: 15px;
            margin-left: 0;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}


.tag__filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}   

.tag__filter--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    @media screen and (min-width: 768px) {
        position: absolute;
        flex-direction: row;
        align-items: unset;
        gap: 15px;
    }
}

.tag__filter {
    &--listbox {
        @include tag-filter-items;
        //background-color: aqua;
    }
    &--header {
        @include tag-filter-header;
        .filter__header--title {
            @include tag-filter-title;
        }
        .filter__header--input {
            @include tag-filter-input;
        }
        .filter__header--chevron {
            @include tag-filter-chevron;
        }
    }
    &--list {
        @include display-taglist;
        .itemFilter {
            @include items-list;
        }
    }
};

.filter__bckground--red {
    background-color: #e93336;
};

.filter__bckground--green {
    background-color: #2ecc4b;
};

.filter__bckground--blue {
    background-color: #1683FF;
};

.tag__filter--list, .filter__header--input, .filter__header--chevronUp, .active .filter__header--chevronDown, .active .filter__header--title {
    display: none;
}

.active .filter__header--chevronUp, .active .tag__filter--list, .active .filter__header--input {
    display: flex;
}

// .tag__filter {    
//     &--ingredients {
//         background-color: #1683FF;
//         @include tag-filter-items;        
//     }
//     &--header {
//         @include tag-filter-header;
//         .filter__ingredients {
//             @include tag-filter-title;
//         }
//         .filter__ingredients--input {
//             background-color: #1683FF;
//             @include tag-filter-input;
//         }
//         .filter__ingredients--chevron {
//             @include tag-filter-chevron;
//         }
//     }
//     .filter__ingredients--list {
//         @include display-taglist;
//         .itemsList {
//             @include items-list;
//         }
//     }
// };
// .tag__filter {
//     &--appliances {
//         background-color: #2ecc4b;
//         @include tag-filter-items;   
//     }
//     &--header {
//         @include tag-filter-header;
//         .filter__appliances {
//             @include tag-filter-title;
//         }
//         .filter__appliances--input {
//             background-color: #2ecc4b;
//             @include tag-filter-input;
//         }
//         .filter__appliances--chevron {
//             @include tag-filter-chevron;
//         }
//     }
//     .filter__appliances--list {
//         @include display-taglist;
//         .itemsList {
//             @include items-list;
//         }
//     }
// }

// .tag__filter {
//     &--ustensils {
//         background-color: #e93336;
//         @include tag-filter-items;   
//     }
//     &--header {
//         @include tag-filter-header;
//         .filter__ustensils {
//             @include tag-filter-title;
//         }
//         .filter__ustensils--input {
//             background-color: #e93336;
//             @include tag-filter-input;
//         }
//         .filter__ustensils--chevron {
//             @include tag-filter-chevron;
//         }
//     }
//     .filter__ustensils--list {
//         @include display-taglist;
//         .itemsList {
//             @include items-list;
//         }
//     }
// }

