* {
    max-width: 1440px;
    margin: 0px auto;
    box-sizing: border-box;
    text-decoration: none;
};

.main {
    padding: 25px;
};

.hidden {
    display: none;
};

.display-flex {
    display: flex;
};

.width-full {
    width: 100%;
};

.width-650 {
    max-width: 650px;
}

.width-350 {
    max-width: 350px;
};