* {
    max-width: 1440px;
    margin: 0px auto;
    box-sizing: border-box;
    text-decoration: none;
};

.main {
    padding: 25px;
};

.hidden {
    display: none;
};

.display-flex {
    display: flex;
};

.width-full {
    width: 100%;
};

.width-large {
    max-width: 720px;
}

.width-small {
    max-width: 300px;
};